body,
button,
input,
select,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Microsoft YaHei', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
  font-size: 14px;
  color: #444;
}
.text-head {
  color: #444;
}
.text-desc {
  color: #757575;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 16px;
  color: #757575;
  text-decoration: none;
}
p,
span {
  color: #757575;
  font-weight: lighter;
}
a,
p,
span {
  text-decoration: none;
}
body {
  background-color: #f4f4f4;
}
.btn-success {
  font-size: 14px;
  padding: 5px 20px;
  border-radius: 0px;
}
.cc-nav .navbar {
  border-radius: 0px;
}
.cc-nav > .navbar-default {
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.cc-nav > .navbar-default .navbar-brand {
  color: #ffffff;
  font-size: 24px;
}
.cc-nav > .navbar-default .navbar-nav > .open > a {
  background-color: #76d275;
  color: #ffffff;
}
.cc-nav > .navbar-default .navbar-nav a {
  color: #ffffff;
}
.cc-nav > .navbar-default .navbar-nav a:active,
.cc-nav > .navbar-default .navbar-nav a:visited {
  color: #ffffff;
}
.cc-nav > .navbar-default .navbar-nav a:hover {
  color: #ffffff;
  background-color: #76d275;
}
.cc-nav .navbar-header .navbar-toggle {
  background-color: transparent;
}
.cc-nav .navbar-header .navbar-toggle span {
  background-color: #ffffff;
}
.cc-nav .navbar-form .form-control {
  background-color: #76d275;
  border-radius: 1px;
  height: 28px;
  width: 140px;
  margin-top: 3px;
  border: none;
}
.cc-nav .navbar-form .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ffffff;
}
.cc-nav .navbar-form .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff;
}
.cc-nav .navbar-form .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #ffffff;
}
.cc-nav .navbar-form .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff;
}
.cc-nav .navbar-form .form-control:hover {
  background-color: #ffffff;
  color: #333;
}
.cc-nav .dropdown .dropdown-menu {
  top: 105%;
  min-width: 100%;
  background-color: #5cb85c;
  border-radius: 0px;
  border: none;
}
.cc-nav .dropdown .dropdown-menu > li > a {
  color: #ffffff;
}
.cc-nav .dropdown .dropdown-menu a span {
  color: #ffffff;
}
.cc-nav .dropdown .caret {
  color: #ffffff;
}
.cc-nav .navbar-nav .open .dropdown-menu > li > a {
  color: #ffffff;
}
.cc-nav .navbar-nav .open .dropdown-menu > li > a:active,
.cc-nav .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #ffffff;
}
.cc-lunbo {
  padding: 0;
  margin-top: 50px;
  background-color: #ffffff;
  margin-bottom: 15px;
}
.cc-lunbo .row {
  overflow: hidden;
}
.cc-lunbo .container {
  height: 100%;
}
.cc-lunbo .container .at-title {
  margin-top: 80px;
  color: #757575;
  font-size: 32px;
  font-weight: normal;
}
.cc-lunbo .container .at-title span {
  color: #5cb85c;
  font-weight: bold;
}
.cc-lunbo .container .at-description {
  color: #757575;
  font-weight: lighter;
  font-size: 16px;
}
.cc-lunbo .container .at-links {
  margin-top: 40px;
  margin-bottom: 20px;
}
.cc-lunbo .container .at-links a:last-child {
  margin-left: 10px;
}
.cc-lunbo .container .cc-logo {
  width: 200px;
  margin: 50px auto;
  margin-bottom: 20px;
}
.cc-course .cc-course-header {
  position: relative;
  height: 45px;
  width: 100%;
}
.cc-course .cc-course-header > a {
  position: absolute;
  right: -10px;
  top: 8px;
}
.cc-course a {
  text-decoration: none;
}
.cc-course .row > li {
  padding: 5px;
}
.cc-course .row a {
  display: block;
  padding-bottom: 15px;
  padding-top: 15px;
  background-color: #ffffff;
  text-align: center;
}
.cc-course .row a:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
.cc-course h2 {
  float: left;
  left: -10px;
  position: absolute;
  color: #444;
  font-weight: 500;
  display: inline-block;
}
.cc-footer {
  background-color: #ffffff;
}
.cc-footer .contact-way {
  text-align: center;
  margin: 20px auto;
}
.cc-footer nav {
  padding: 15px;
  padding-top: 0px;
  border-bottom: 1px solid #f0f0f0;
  text-align: center;
}
.cc-footer nav a {
  font-weight: lighter;
  margin: 10px;
  color: #444;
}
.cc-footer nav a:hover {
  color: #5cb85c;
  text-decoration: none;
}
.cc-footer nav i {
  font-style: normal;
}
.cc-footer .copyright {
  font-weight: lighter;
  text-align: center;
  padding: 15px;
}
.cc-footer .weixin-icon {
  background: url(//e.jikexueyuan.com/headerandfooter/images/otherway.png) -28px 0px no-repeat;
  display: inline-block;
  width: 22px;
  height: 18px;
  margin-right: 20px;
}
.cc-footer .sina-icon {
  background: url(//e.jikexueyuan.com/headerandfooter/images/otherway.png) 0px 0px no-repeat;
  display: inline-block;
  width: 22px;
  height: 18px;
  margin-right: 20px;
}
.cc-footer .facebook-icon {
  background: url(//e.jikexueyuan.com/headerandfooter/images/otherway.png) -104px 0px no-repeat;
  display: inline-block;
  width: 22px;
  height: 18px;
  margin-right: 20px;
}
.cc-footer .google-icon {
  background: url(//e.jikexueyuan.com/headerandfooter/images/otherway.png) -80px 0px no-repeat;
  display: inline-block;
  width: 22px;
  height: 18px;
  margin-right: 20px;
}
.cc-art-title {
  width: 100%;
  margin: 0 auto;
  height: 50px;
  background-color: #76d275;
  position: relative;
}
.cc-art-title h1 {
  top: 80px;
  position: absolute;
  font-size: 26px;
  color: #ffffff;
}
.cc-art-body {
  margin-top: 50px;
  margin-bottom: 20px;
  background-color: #ffffff;
}
.cc-art-body .container {
  position: relative;
}
.cc-art-body .cc-art-nav {
  padding-top: 15px;
}
.cc-art-body .cc-art-nav .cc-art-nav-head {
  margin-top: 5px;
  color: #444;
}
.cc-art-body .cc-art-nav .cc-art-nav-head:link,
.cc-art-body .cc-art-nav .cc-art-nav-head:visited,
.cc-art-body .cc-art-nav .cc-art-nav-head:hover,
.cc-art-body .cc-art-nav .cc-art-nav-head:active {
  background-color: transparent;
  border: none;
  text-decoration: none;
  display: block;
  font-size: 26px;
  margin-bottom: 20px;
}
.cc-art-body .cc-art-nav .nav-tabs {
  border-bottom: none;
  background-color: #ffffff;
}
.cc-art-body .cc-art-nav .nav-tabs > li {
  text-align: left;
}
.cc-art-body .cc-art-nav .nav-tabs > li.active,
.cc-art-body .cc-art-nav .nav-tabs > li:hover {
  border-right: 2px solid #5cb85c;
}
.cc-art-body .cc-art-nav .nav-tabs > li a,
.cc-art-body .cc-art-nav .nav-tabs > li span {
  font-weight: normal;
  padding-left: 0px;
  color: #449d44;
}
.cc-art-body .cc-art-nav .nav-tabs > li a:link,
.cc-art-body .cc-art-nav .nav-tabs > li span:link,
.cc-art-body .cc-art-nav .nav-tabs > li a:visited,
.cc-art-body .cc-art-nav .nav-tabs > li span:visited,
.cc-art-body .cc-art-nav .nav-tabs > li a:hover,
.cc-art-body .cc-art-nav .nav-tabs > li span:hover,
.cc-art-body .cc-art-nav .nav-tabs > li a:active,
.cc-art-body .cc-art-nav .nav-tabs > li span:active {
  background-color: transparent;
  border: none;
}
.cc-art-body .cc-art-nav .nav-tabs > li span {
  float: right;
}
.cc-art-body .cc-art-nav .nav-tabs .secondmenu > li > a {
  color: #449d44;
  padding-left: 2em;
}
.cc-art-body .cc-art-nav .nav-tabs .secondmenu > li > a:link,
.cc-art-body .cc-art-nav .nav-tabs .secondmenu > li > a:visited,
.cc-art-body .cc-art-nav .nav-tabs .secondmenu > li > a:hover,
.cc-art-body .cc-art-nav .nav-tabs .secondmenu > li > a:active {
  background-color: transparent;
  border: none;
}
.cc-art-body .cc-art-main {
  padding-bottom: 15px;
  font-size: 14px;
}
.cc-art-body .cc-art-main #content {
  width: 100%;
}
.cc-art-body .cc-art-main h1 {
  font-size: 36px;
  color: #444;
  padding-bottom: 10px;
}
.cc-art-body .cc-art-main h2 {
  padding: 10px 0px;
  font-size: 24px;
  color: #444;
}
.cc-art-body .cc-art-main h3 {
  padding: 10px 0px;
  font-size: 18px;
  color: #444;
}
.cc-art-body .cc-art-main a {
  padding-left: 0px;
  color: #5cb85c;
  font-weight: normal;
}
.cc-art-body .cc-art-main p {
  padding-left: 0px;
  color: #444;
  font-size: 14px;
  margin: 15px;
  margin-left: 2em;
}
.cc-art-body .cc-art-main code,
.cc-art-body .cc-art-main kbd,
.cc-art-body .cc-art-main pre,
.cc-art-body .cc-art-main samp {
  color: #ffffff;
  background: #5cb85c;
  font-family: 'Microsoft YaHei', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif !important;
  font-weight: lighter;
}
.cc-art-body .cc-art-main pre {
  margin-left: 2em;
  border: 1px solid #eee;
  background-color: #fafafa;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.cc-art-body .cc-art-main pre code,
.cc-art-body .cc-art-main pre kbd,
.cc-art-body .cc-art-main pre samp {
  color: #444;
  background: none;
}
.cc-art-body .cc-art-main .cc-art-download a {
  display: inline-block;
  background-color: #5cb85c !important;
  color: #ffffff !important;
  padding: 4px 10px;
  margin-right: 10px;
}
.cc-art-body .cc-art-main .cc-art-download a:hover {
  background-color: #449d44 !important;
  text-decoration: none;
}
.cc-art-body .cc-art-edit {
  padding-right: 15px;
  position: absolute;
  right: 0px;
  top: 25px;
}
.cc-art-body .cc-art-pre-next {
  margin-top: 20px;
}
.cc-art-body .cc-art-next {
  float: right;
}
